<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#/principal">DigiFus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#/principal">Principal</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#/perfil/visualizar/{{Usuario}}">Mi perfil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/logout">Desconectarse</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">	
	<div class="card">
		<div class="card-header bg-primary text-white" >
			<h2>ACTUALIZACION DE DATOS</h2>
		</div>
		<ul class="list-group list-group-flush">

			<li class="list-group-item">
					<div class="row">
					    <label>Correo</label>
					    <input type="text" class="form-control" disabled ng-model="txt_email">
					</div>
					<br>
					<div class="row">
					    <label>Nombres y Apellidos</label>
					    <input type="text" class="form-control" ng-model="txt_nombre">
					</div>
					<br>
					<div class="row">
					    <label>Perfil de usuario</label>
					    <input type="text" class="form-control" ng-model="txt_perusuario" disabled>
					</div>
					<br>				
			</li>

			<div class="card-header bg-primary text-white">
				<h5>Actualizar contraseña  <i class="fas fa-key"></i></h5>
				<h5 	style="color:red;">{{errorPass}}</h5>
			</div>
			<li class="list-group-item">
				
					<div class="row">
					    <label>Contraseña</label>
					    <input type="password" class="form-control"  placeholder="*******" ng-model="txt_pass">
					</div>
					<br>
					<div class="row">
					    <label>Confirmar contraseña</label>
					    <input type="password"  class="form-control" placeholder="*******" ng-model="txt_confipass">
					</div>
				
			</li>
			<li class="list-group-item">
				<div class="content-padded">
				    
				</div>
			</li>
		</ul>
		<button class="btn btn-block btn-secundary" type="button" ng-click="actualizaPerfil()">Actualizar Datos</button>
	</div>
	<br><br>
</div>
